@model TMS.DataTransferObject.DTOLeaveMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage11.cshtml";
   
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Apply Leave</h4>
        <hr />
            </div>
            <div class="panel-body">
        <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2 text-right">User Name :</label>
            <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Title, "", new { @class = "form-control", id = "txtName", maxlength = "100" })
            </div>
        </div>
            </div>
        <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2 text-right">Leave Type :</label>
            <div class="col-md-10">
                            @Html.DropDownList("ddlLeaveType", new List<SelectListItem>
                                        {
                                        new SelectListItem{ Text="Personal", Value = "1" },
                                        new SelectListItem{ Text="Official", Value = "2" },
                                        }, new { @class = "selectpicker form-control" })
            </div>
        </div>
            </div>
        <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2 text-right">Start Date :</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.Title, "", new { @class = "form-control ui-datepicker-calendar", id = "datepicker", maxlength = "100", @readonly = true })
            </div>
                        <div class="col-md-5">
                            @Html.DropDownList("ddlStartDate", new List<SelectListItem>
                                            {
                                            new SelectListItem{ Text="FullDay", Value = "1" },
                                            new SelectListItem{ Text="1st Half", Value = "2" },
                                            new SelectListItem{ Text="2nd Half", Value = "3" },
                                            }, new { @class = "selectpicker form-control" })
        </div>
            </div>
        </div>
        <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2 text-right">End Date :</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.Title, "", new { @class = "form-control ui-datepicker-calendar", id = "txtEndDate", maxlength = "100", @readonly = true })
        </div>
                        <div class="col-md-5">

                            @Html.DropDownList("ddlEndDate", new List<SelectListItem>
                                            {
                                            new SelectListItem{ Text="FullDay", Value = "1" },
                                            new SelectListItem{ Text="1st Half", Value = "2" },
                                            new SelectListItem{ Text="2nd Half", Value = "3" },
                                            }, new { @class = "selectpicker form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2 text-right">Reason For Leave:</label>
            <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Title, "", new { @class = "form-control", id = "txttitle", maxlength = "100" })
        </div>
            </div>
        </div>
        <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-10"></label>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary right">Submit</button>
                            <button type="button" class="btn btn-primary right">Cancel</button>
            </div>

            </div>
        </div>




            </div>
        </div>

        </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
